@model PhotoCore.Mvc.Models.Home.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Albums</h1>
<div class="row">
    <div class="col-auto">
        @foreach (var user in Model.Users)
        {
            <h4>@user.UserName</h4>
            @foreach (var album in user.Albums)
            {
                <div style="padding : 3px, border solid 1px #ccc;">
                    <h5>@album.Title</h5>
                    <img src="@album.ThumbnailUrl" alt="@album.Title"><br>
                    Url: @album.ThumbnailUrl
                </div>
            }
        }
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
