@using System.Text.Json
@model PhotoCore.Mvc.Models.UserAlbums.IndexModel

@{
    ViewData["Title"] = "Albums";
}

<h1>Albums</h1>
<div class="row">
    <div class="col-auto">
        @foreach (var album in Model.Albums)
        {
            <ul>
                <li>
                    <a asp-controller="UserPhotos" asp-action="Index" asp-route-id="@album.Aid">@album.Title</a> 
                        -
                        <a href="#" data-toggle="modal" data-target="@($"#json_modal{album.Aid}")">JSON</a>                    
                </li>
            </ul>

<div class="modal" tabindex="-1" role="dialog" id="@($"json_modal{album.Aid}")">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">JSON Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <pre>
@JsonSerializer.Serialize(album, new JsonSerializerOptions{ WriteIndented = true })
                </pre>
      </div>
    </div>
  </div>
</div>


        }
    </div>
</div>